body {
  background-image: url(Assets/Images/cryptocurrency-coding-digital-blue-background-open-source-blockchain-concept.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 img {
  
 }